body {
    background: #2f2f2f;
    color: #e6e6e6;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    /* background: linear-gradient(180deg, rgba(255,255,255,1) 59%, rgba(205,240,255,1) 78%, rgba(138,217,251,1) 100%);  */
}

.blue-sliding {
    height: 2em;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    border-radius: 5px;
    border: 2px solid #0766da;
    color: #0766da;
    width: 4em;
    box-shadow: 1px -1px 18px 3px rgb(37, 58, 85);
    -webkit-box-shadow: 1px -1px 18px 3px rgb(37, 58, 85);
    -moz-box-shadow: 1px -1px 18px 3px rgb(37, 58, 85);
}

.blue-sliding:hover {
    color: #fff;
}

.blue-sliding:hover:after {
    width: 100%;
}

.blue-sliding:after {
    background: #0766da;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    text-align: center;
    transition: all 0.3s ease;
    width: 0;
    z-index: -1;
}

.button {
    text-decoration: none;
    justify-content: center;
    display: flex;
    align-items: center;
}

.mainarea {
    align-content: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: inherit;
    justify-content: center;
}

.title {
    align-self: flex-end;
    color: white;
}