{{define "body"}}
<main style="
margin: 0 5% auto;">
    <div class="preamble">
        <h2>Privacy Policy</h2>
        <h3>Usage of the Applications/Pages within the domain and subdomains of "idio.gg" (henceforth referred to as "we") by you (the "user") is bound by the following privacy policy.</h3>
        <p></p>
    </div>
    <ul>
        <li>
            Information We Collect
            <ul>
                <li>Personal Information: We may collect personal information such as your name, email address, and other information you provide when you create an account or interact with our Applications.</li>
                <li>Usage Information: We automatically collect information about your usage of our Applications, including device information, log data, and location information if you enable location services.</li>
            </ul>
        </li>
        <li>
            How We Use Your Information
            <ul>
                <li>Provide and Improve Services: We use your information to provide and improve our applications, personalize your experience, and develop new features.</li>
                <li>Communicate with You. For example: We may use your email address to send you important updates, announcements, and marketing communications.</li>
            </ul>
        </li>
        <li>
            Cookies and Similar Technologies
            <ul>
                <li>We use cookies and similar technologies to collect information about your interactions with Idio Facts and improve your experience. You can manage your cookie preferences through your browser settings.</li>
            </ul>
        </li>
        <li>
            Security
            <ul>
                <li>We implement reasonable security measures to protect your information from unauthorized access, disclosure, alteration, and destruction.</li>
            </ul>
        </li>
        <li>
            Children's Privacy
            <ul>
                <li>We do not intend for users under the age of 13. We do not knowingly collect personal information from children under 13. If you believe a child under 13 has provided us with personal information, please contact us.</li>
            </ul>
        </li>
        <li>
            Changes to this Privacy Policy
            <ul>
                <li>We may update this Privacy Policy from time to time. The most current version will be posted on our website or within the App with the effective date.</li>
            </ul>
        </li>
    </ul>
</main>
{{end}}