{{define "base"}}
<!doctype html>
    <html>
        {{template "head" .Head}}
        <body>
            {{if .Header}}
                {{header .Header}}
            {{end}}
            {{template "body"}}
        </body>
    </html>
{{end}}