{{define "head"}}
<head>
    {{if .Meta}}
        <meta charset="{{ .Meta.Charset}}">
        <meta name="viewport" content="{{ .Meta.Viewport}}">
    {{end}}
    <title>{{ .Title }}</title>
    {{range .Stylesheet}}
        <link type="text/css" rel="stylesheet" href="{{.}}">
    {{end}}
</head>
{{end}}